// Breakpoint Mixin
@mixin breakpoint($point) {
    @if $point == desktop {
        @media (min-width: 480px)  { @content; }
    }
    @if $point == medium {
        @media (min-width: 480px)  { @content; }
    }
    @else if $point == large {
        @media (min-width: 960px) { @content; }
    }
    @else if $point { 
        // for custom breakpoints
        @media (min-width: $point) { @content; }
    }
}

@mixin box-shadow($left, $top, $blur, $color, $inset: false) {
    @if $inset {
      -webkit-box-shadow:inset $left $top $blur $color;
      -moz-box-shadow:inset $left $top $blur $color;
      box-shadow:inset $left $top $blur $color;
    } @else {
      -webkit-box-shadow: $left $top $blur $color;
      -moz-box-shadow: $left $top $blur $color;
      box-shadow: $left $top $blur $color;
    }
  }

  @mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin button($colour:#ADA3A3){
    border:0;
    font-size: 14px;
    padding: 15px 20px 10px;
    font-weight: bold;
    color: $brand-white;
    cursor: pointer;
    background-color: $colour;
    
    // Animation    
    @include transition( all 0.3s ease-in-out);

    // Bottom border
    border-bottom: 5px solid darken($colour,10%);

    &:hover,&:focus{
        background-color: darken($colour,10%);
    }

    &:focus{
        outline: 0;
    }

}