body{
    background-color: $brand-gray;
    font-family: Arial,sans-serif;
}

.modal--open{
    // prevent page scroll when modal is open
    overflow: hidden;
}

.container{
    
    margin-left: $gutter / 2;
    margin-right: $gutter / 2; 

    @include breakpoint(desktop) {
        
          max-width: 1200px;
          margin:0 auto;
          padding-left: $gutter / 2;
          padding-right: $gutter / 2;
         
      }

}

.navbar{
    padding-top: $gutter / 2;
    padding-bottom: $gutter / 2;
}
