// Colours
$brand-gray : #aaaaaa; //background
$brand-gray-light: #efefef; // card background

$brand-black-primary: #1b1d1d;// Title color
$brand-black-secondary: #0e0c16; // Summary color

$brand-white: #e9f2f7; // Button text

$brand-blue: #1960a2; // Btn bg
$brand-blue-darker: #145491;

$brand-purple: #b03691;

// Sizes
//---------------------

$gutter: 30px;