
<npw-modal></npw-modal>

<div class="navbar">
  <div class="container">
    <div class="navbar__logo"><img src="/assets/images/logo.png" alt="NPower Logo" class="img-retina"></div>
  </div>
</div>

<npw-listing-page (onModalClicked)='showModal($event)'></npw-listing-page>

