@import '~styles/generic/variables';
@import '~styles/generic/mixins';

:host {
    display: flex;
    overflow: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(0,0,0,0.5);
    //opacity: 0;
}
.modal-wrapper {
    box-sizing: border-box;
    position: fixed;
    background-color: $brand-gray-light;

    
    left:$gutter / 2;
    right:$gutter / 2;
    padding: $gutter;

    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
    z-index: 1001;

    @include breakpoint(desktop) {
        
        max-width: 70%;
        margin:0;
        left: auto;
        right: auto;
    }

}

.modal-body{
    &__title{
        color: $brand-purple;
    }
    &__text{
        color: $brand-black-secondary;
        line-height: 1.4;
    }
}

.modal__close {
    position: absolute;
    padding: 0;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: $brand-gray-light;
    cursor: pointer;

    @include breakpoint(desktop) {
        width: 15px;
        height: 15px;
        font-size: 12px;
    }
}
.modal__close{
    &:hover,&:focus {
        transform: scale(1.3, 1.3);
        outline: 0;
    }
}


