<div class="modal-overlay" (click)="close.emit()" [@fadeAnimation]="visible?'in':'out'"></div>
<div #modalWrapper class="modal-wrapper" aria-labelledby="modal_title" aria-describedby="modal_text">
  <div class="modal-header">
    <button #closeButton class="modal__close" (click)="close.emit()" aria-label="close"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <h3 id="modal_title" class="modal-body__title">{{content?.title}}</h3>
    <p id="modal_text" class="modal-body__text">{{content?.text}}</p>
  </div>
</div>