<div class="card">
    <div class="card__header">
      <img [src]="image" [alt]="imageName" class="card__image img-fluid">
    </div>
    <div class="card__body">
      <h3 class="card__title">{{title}}</h3>
      <p class="card__summary">{{summary}}</p>
      <button class="button shadow button--blue" (click)="modalClick.emit(modal)">{{modal.label}}</button>
    </div>
    <div class="card__footer">
    </div>
  </div>
