@import '~styles/generic/variables';
@import '~styles/generic/mixins';

:host {
    display: flex; 
    width: 100%;
    flex-direction: column;
    margin-bottom: $gutter;
    background-color: $brand-gray-light;

    @include transition( background-color .5s ease-in-out);

    &:hover{
        background-color: #fff;
    }

    @include breakpoint(desktop) {
        width: 32%;
        margin: 1%;

        // Chrome bug
        margin-bottom: 1em;

        // Last card on each line
        &:nth-of-type(3n) {
            margin-right: 0;	
        }
        // First card on each line
        &:nth-of-type(3n+1) {
            margin-left: 0;	
        }
    }
    
}

.card{
    &:hover{
        .card__image{          
            //transform: scale(1.1);           
        }
    }
    &__header{
        overflow: hidden;
    }
    
    &__image{
        @include transition( all 1s ease-in-out);
        transform: scale(1);
    }

    &__body{
        padding: $gutter / 2;
        padding-bottom: 0
        
        //flex: 1 0 auto;
    }

    &__title{
        color: $brand-black-primary;
    }

    &__summary{
        color: $brand-black-secondary;
        line-height: 1.4;
        
    }

    &__footer{
        padding: $gutter / 2;
        
    }
}